<main class="presentacion" id="presentacion">
    <img [src]="miPortfolio.fotoPerfil" alt="" class="foto-perfil">
    
    <div class="descripcion">
        <h1 class="nombre">{{miPortfolio.nombre}}</h1>
        <p class="acerca-de">{{miPortfolio.acercaDe[0]}} <br> {{miPortfolio.acercaDe[1]}}</p>
    </div>

    <div class="contacto contenedor">
        <ul>
            <li><a href="#"><i class="fa-solid fa-envelope"></i>Gmail</a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i>GitHub</a></li>
        </ul>
    </div>
</main><!--Main-->

<section class="contenedor">
    <h2>Habilidades</h2>
    <ul>
        <li *ngFor="let hab of habilidades">{{hab}}</li>
    </ul>
</section>