<section class="contenedor">
    <h2>Proyectos</h2>

    <div class="proyectos">
        <div class="proyecto" *ngFor="let proyecto of proyectos">
            <a [href]="proyecto.link" target="_blank">
                <img [src]="proyecto.url_img" alt="Img-Proyecto" class="imagen-proyecto">
                <h3 class="proyecto-nombre">{{proyecto.nombre}}</h3>
                <p class="">{{proyecto.descripcion}}</p>
            </a>
            <i *ngIf="autenticacion.logIn" class="fas fa-times delete" (click)="delete(proyecto.id)"></i>
            <p *ngIf="autenticacion.logIn" class="boton" (click)="edit(proyecto)">Editar</p>
        </div>
    </div>

    <div *ngIf="autenticacion.logIn" class="agregar-editar">
        <app-add-proyecto></app-add-proyecto>
        <app-edit-proyecto [proyectoAEditar]="aEditar"></app-edit-proyecto>
    </div>
</section><!--Proyectos-->