<section class="contenedor" id="educacion">
    <h2>Educación</h2>

    <div class="educacion" *ngFor="let ed of educacion">
        <h3 class="exp-nombre">{{ed.nombre}}</h3>
        <p class="fecha">{{ed.inicio}} - {{ed.fin}}</p>
        <p class="exp-descripcion">{{ed.descripcion}}</p>
        <i *ngIf="autenticacion.logIn" class="fas fa-times delete" (click)="delete(ed.id)"></i>
        <p *ngIf="autenticacion.logIn" class="boton" (click)="edit(ed)">Editar</p>
    </div>
    
    <div *ngIf="autenticacion.logIn" style="display: flex; justify-content: space-evenly;">
        <app-add-educacion></app-add-educacion>
        <app-edit-educacion [educacionAEditar]="aEditar"></app-edit-educacion>
    </div>
</section><!--Educacion-->