<header>
    <div class="barra">
        <a href="/" class="logo"><img [src]="miPortfolio.url_logo" alt="logo"></a>

        <i class="fas fa-ellipsis-v" id="mobile-menu" (click)="hideMenuButton()" (click)="showMenu()"></i>
        <nav id="nav" class="navegacion-principal">
            <a routerLink="/" (click)="showMenuButton()" (click)="hideMenu()">Acerca de</a>
            <a routerLink="/experiencia" (click)="showMenuButton()" (click)="hideMenu()">Experiencia</a>
            <a routerLink="/educacion" (click)="showMenuButton()" (click)="hideMenu()">Educación</a>
            <a routerLink="/proyectos" (click)="showMenuButton()" (click)="hideMenu()">Proyectos</a>
            <a routerLink="/iniciar-sesion" *ngIf="!authService.logIn"  (click)="showMenuButton()" (click)="hideMenu()">Login</a>
            <a routerLink="#" *ngIf="authService.logIn" (click)="logout()" (click)="showMenuButton()" (click)="hideMenu()">Logout</a>
            <i class="fas fa-times" id="cerrar" (click)="showMenuButton()" (click)="hideMenu()"></i>
        </nav>
    </div>
    <div [ngStyle]="{'backgroundImage': 'url(' + url + ')'}" class="banner"></div>
</header>