<header>
    <div class="barra">
        <a href="/" class="logo"><img [src]="miPortfolio.url_logo" alt="logo"></a>

        <i class="fas fa-ellipsis-v" id="mobile-menu" (click)="hideMenuButton()" (click)="showMenu()"></i>
        <nav id="nav" class="navegacion-principal">
            <a routerLink="/">Acerca de</a>
            <a routerLink="/experiencia">Experiencia</a>
            <a routerLink="/educacion">Educación</a>
            <a routerLink="/proyectos">Proyectos</a>
            <!--En los 4 botones borré las funciones porque no quedaba bien con una pantalla ancha-->
            <a routerLink="/iniciar-sesion">Login</a>
            <a routerLink="#">Logout</a>
            <i class="fas fa-times" id="cerrar" (click)="showMenuButton()" (click)="hideMenu()"></i>
        </nav>
    </div>
    <div [ngStyle]="{'backgroundImage': 'url(' + url + ')'}" class="banner"></div>
</header>