<h3>Editar</h3>
<form (ngSubmit)="onSubmit()" >
    <div class="form-control">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombre" class="campo">
    </div>
    
    <div class="form-control">
        <label for="descripcion">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" [(ngModel)]="descripcion" class="campo">
    </div>

    <div class="form-control">
        <label for="link">Link</label>
        <input type="text" name="link" id="link" placeholder="Link" [(ngModel)]="link" class="campo">
    </div>
    
    <div class="form-control">
        <label for="url_img">Url Imagen</label>
        <input type="text" name="url_img" id="url_img" placeholder="Url Imagen" [(ngModel)]="url_img" class="campo">
    </div>

    <input type="submit" value="Editar" class="boton">
</form>