.campo{
    margin: 0 0 2.5rem;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error{
    color: red;
}
.is-valid{
    border: 3px green solid;
}
.is-invalid{
    border: 3px red solid;
}